<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testcases.BookingSearch">
      	<methods>
      		<include name="searchHotel"></include>
      		<include name="selectHotel"></include>
      		<include name="enterGuestInformation"></include></methods>
      </class>
      <class name="testcases.PaymentManager">
      	<methods></methods></class>
      <class name="testcases.CustomerCommunications"></class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
