<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ASuite">
  <test thread-count="5" name="ATest">
    <classes>
      <class name="testng1.TNG_001"/>
      <class name="testng1.TNG_002"/>
    </classes>
  </test> <!-- ATest -->
</suite> <!-- ASuite -->
